/*.mat-input-element {
    width: 100% !important;
    text-overflow: ellipsis;
    overflow: hidden;
  }
*/
.mat-option {
  font: 400 14.4px Arial !important;
  /*font-family: unset !important;
  font-size: unset !important;*/
  padding: 2px 2px !important;
}
