<input #txtVal matInput [matAutocomplete]="auto" required matTooltipPosition="after" [(ngModel)]="selectedItem" [disabled]="ps.getRunningProcess() != null"
    #trigger="matAutocompleteTrigger" class="ellipsiscolumn" matAutocompleteTriggerAccessor [optionHeight]="18" spellcheck="false"
    (keyup.enter)="onEnter()">
<!--arrow_drop_down>-->
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
    <mat-option *ngFor="let item of filterItems(myInput.nativeElement.value, items)" [value]="item" [title]="item"> 
        <span>{{item}}</span>
    </mat-option>
</mat-autocomplete>