.button {
}

/*
@mixin define_icon($fileName) {
  @include icon_size();
  display: inline-block;
  background: url("./../../assets/images/"+$fileName+".png");
}*/

.disabled {
  opacity: 0.4; 
  filter: alpha(opacity=40); /* msie */
  pointer-events: none;
}
/*
.runicon {
  @include define_icon("run16");
}
.runnexticon {
  @include define_icon("runnext16");
}
.runfromhereicon {
  @include define_icon("runfromhere16");
}
.runtoicon {
  @include define_icon("runto16");
}
.reseticon {
  @include define_icon("reset16");
}
.processicon {
  @include define_icon("process");
}*/

.disableButton {
  opacity: 0.35;
  background: #eee;
  color: #444;
}


