<p-toolbar>
        <button class="button ui-button" (click)="handleClick($event)"><i class="runicon" ></i></button>
        <button class="button ui-button"><i class="runnexticon"></i></button>
        <button class="button ui-button"><i class="runfromhereicon"></i></button>
        <button class="button ui-button"><i class="runtoicon"></i></button>
        <button class="button ui-button"><i class="reseticon"></i></button>
        <button class="button ui-button"><i class="processicon"></i></button>
    </p-toolbar>
