body .p-menubar {
  background: inherit;
  border: 0;
}

body .menu-container .p-menubar .p-menubar-custom {
  margin-left: 0.25em;
  margin-top: 6px;
  margin-right: 0.25em;
}

body .menu-container .p-menubar .p-menuitem-link {
  margin-top: 4px;
  margin-bottom: 4px;
}

body .menu-container .p-menubar .p-menuitem-link:hover {
  background: inherit;
}

body .menu-container .p-menubar .p-menuitem-link .p-menuitem-text,
body .menu-container .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-submenu-icon {
  color: $menuitemTextColor;
}

body .menu-container .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link,
body .menu-container .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
body .menu-container .p-menubar-active .p-menuitem-link:hover {
  color: $menuitemHoverTextColor;
  background-color: lighten($blue, 5);
}

body .menu-container .p-menubar .p-menuitem-link .p-menuitem-text:hover,
body .menu-container .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover > .p-submenu-icon {
  color: $menuitemHoverTextColor;
}

body .menu-container .p-menubar .p-submenu .p-menuitem.p-menu-parent.p-menuitem-active > .p-menuitem-link > .p-menuitem-text,
body .menu-container .p-menubar .p-submenu .p-menuitem.p-menu-parent.p-menuitem-active > .p-menuitem-link > .p-submenu-icon,
body .menu-container .p-menubar .p-submenu .p-menuitem.p-menuitem-active > .p-menuitem-link,
body .menu-container .p-menubar .p-submenu .p-menuitem .p-menuitem-link:hover .p-menuitem-text {
  color: $menuitemHoverTextColor;
}

body .menu-container .p-menubar .p-submenu .p-menuitem .p-menuitem-link .p-menuitem-text,
body .menu-container .p-menubar .p-submenu .p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-submenu-icon {
  color: #333333;
}
