.mat-ink-bar {
  background-color: #c0c0c0 !important;
}

.mat-tab-header-pagination {
  background-color: lighten(#f0f0f0, 4%) !important;
}
.mat-mdc-input-element {
  border: none !important;
}
.mat-mdc-tab-links {
  width: 100%;
}

.mat-tab-labels,
.mat-mdc-tab-links,
.mat-mdc-tab-link,
.mat-mdc-tab .mdc-tab {
  background-color: #e5e5e5 !important;
}

.mat-tab-label,
.mat-mdc-tab-link,
.mat-mdc-tab-link,
.mat-mdc-tab,
.mdc-tab {
  padding: 0 10px !important;
  height: 1.2rem !important;
  line-height: 1.2rem !important;
  opacity: 1 !important;
  color: black !important;
  background-color: #f0f0f0 !important;
  min-width: auto !important;
  border: 1px solid darken(#f0f0f0, 4%);
  text-decoration: none !important;
  font-size: 0.75rem !important;
  font-weight: 600 !important;
}

.mat-tab-label-content {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
}

.mat-mdc-tab-group {
  height: 100%;
}

.mat-mdc-tab-body {
  height: 100%;
  overflow: hidden !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.mat-tab-body-wrapper {
  height: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.mat-tab-body-content {
  overflow: hidden !important;
}

.mdc-button {
  font-size: 12px !important;
  padding: 0px 6px !important;
}

.mdc-button-base {
  line-height: 1.3rem !important;
  min-width: 0px !important;
}
.mat-toolbar {
  padding: 3px 3px !important;
}
.mat-toolbar-button {
  height: 20px;
}

.mdc-raised-button,
.mdc-button-toggle-label-content,
.mat-button-toggle-label-content {
  padding: 0 0 !important;
  line-height: 15px;
}
.mdc-button-toggle-label-content {
  line-height: 1.2rem !important;
}

.mat-mdc-select-panel {
  min-width: fit-content !important;
}

.cdk-overlay-container {
  z-index: 20000 !important;
}
.mat-mdc-option {
  line-height: 18px !important;
  height: 18px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
.mat-option,
.mat-mdc-option {
  position: relative;
  height: 18px !important;
  line-height: 18px !important;
  max-height: 18px !important;
}

.ellipsiscolumn {
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 100%;
}

.mat-mdc-list-item,
.mdc-list-item {
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 14px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
.mat-list-item-content,
.mat-mdc-list-base {
  padding: 1px !important;
}
.mat-mdc-list-base {
  padding: 2px !important;
}

.mat-mdc-menu-item:focus {
  outline: none;
}

.mat-mdc-menu-panel,
.mat-mdc-menu-panel {
  min-height: 0rem !important;
}

.mat-mdc-menu-item {
  min-height: 24px;
}

.mat-mdc-menu-content,
.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item__primary-text {
  font-size: 12px;
}

.mat-mdc-menu-content .mat-mdc-menu-item {
  font-size: 14px !important;
  min-height: 20px;
}

.helpcontent h2 {
  font-size: 1.5rem !important;
}
.helpcontent h3 {
  font-size: 1.25rem !important;
}

input.mat-mdc-input-element {
  margin-top: auto !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.mat-tab-label-active {
  background-color: #cce8ff !important;
}

// html {
//   font-size: 75%;
// }

.mat-mdc-text-field-wrapper {
  margin-top: 10px;
}

.mat-mdc-form-field {
  // width: 100% !important;
  height: 56px;
  font-size: 14px;
  padding: 0px !important;
}

.mat-mdc-form-field-infix {
  padding: 0 !important;
}
