<p-dialog header="{{title}}" [(visible)]="service.display" [modal]="true" [responsive]="true" (onHide)="onHide()"
[style]="{width: '800px', minWidth: '400px', maxHeight: '400px'}" [minY]="20" [maximizable]="false" [baseZIndex]="10000">
    <MessageDlg></MessageDlg>

    <button mat-raised-button (click)="addRow()">Add</button> &nbsp;
    <button mat-raised-button [disabled]="!atLeastOneSelected()" (click)="removeSelectedRows()">Delete</button> &nbsp;

    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
      
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
      
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
            </ng-container>

            
            <ng-container matColumnDef="SpeciesCategory">
                <mat-header-cell *matHeaderCellDef> SpeciesCategory </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container *ngIf="possibleValues('SpeciesCategory') != null">
                        <mat-form-field floatLabel="never">
                            <mat-select placeholder = ""  [(ngModel)] = "element.SpeciesCategory" name = "element.SpeciesCategory">
                                <mat-option *ngFor = "let oldName of possibleValues('SpeciesCategory')" [value] = "oldName">
                                {{oldName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="possibleValues('SpeciesCategory') == null">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="" [value]="element.SpeciesCategory" [(ngModel)]="element.SpeciesCategory">
                        </mat-form-field>
                    </ng-container> 
                </mat-cell>
            </ng-container>

            
            <ng-container matColumnDef="NewSpeciesCategory">
                <mat-header-cell *matHeaderCellDef> NewSpeciesCategory </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" [value]="element.NewSpeciesCategory" [(ngModel)]="element.NewSpeciesCategory">
                    </mat-form-field>
                </mat-cell>
            </ng-container>  
            
            
            <ng-container matColumnDef="AcousticCategory">
                <mat-header-cell *matHeaderCellDef> AcousticCategory </mat-header-cell>
                <mat-cell *matCellDef="let element">
                <ng-container *ngIf="possibleValues('AcousticCategory') != null">
                    <mat-form-field floatLabel="never">
                        <mat-select placeholder = ""  [(ngModel)] = "element.AcousticCategory" name = "element.AcousticCategory">
                            <mat-option *ngFor = "let oldName of possibleValues('AcousticCategory')" [value] = "oldName">
                               {{oldName}}
                            </mat-option>
                         </mat-select>
                    </mat-form-field>                
                </ng-container>
                <ng-container *ngIf="possibleValues('AcousticCategory') == null">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" [value]="element.AcousticCategory" [(ngModel)]="element.AcousticCategory">
                    </mat-form-field>                 
                </ng-container>
                </mat-cell>
            </ng-container>  
            
            
            <ng-container matColumnDef="NewAcousticCategory">
                <mat-header-cell *matHeaderCellDef> NewAcousticCategory </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" [value]="element.NewAcousticCategory" [(ngModel)]="element.NewAcousticCategory">
                    </mat-form-field>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Alpha">
                <mat-header-cell *matHeaderCellDef> Alpha </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" [value]="element.Alpha" [(ngModel)]="element.Alpha">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Beta">
                <mat-header-cell *matHeaderCellDef> Beta </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" [value]="element.Beta" [(ngModel)]="element.Beta">
                    </mat-form-field>
                </mat-cell>
            </ng-container>     
            
            <ng-container matColumnDef="LMin">
                <mat-header-cell *matHeaderCellDef> LMin </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" [value]="element.LMin" [(ngModel)]="element.LMin">
                    </mat-form-field>
                </mat-cell>
            </ng-container>  
            
            
            <ng-container matColumnDef="LMax">
                <mat-header-cell *matHeaderCellDef> LMax </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" [value]="element.LMax" [(ngModel)]="element.LMax">
                    </mat-form-field>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="m">
                <mat-header-cell *matHeaderCellDef> m </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" [value]="element.m" [(ngModel)]="element.m">
                    </mat-form-field>
                </mat-cell>
            </ng-container>     
            
            <ng-container matColumnDef="a">
                <mat-header-cell *matHeaderCellDef> a </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" [value]="element.a" [(ngModel)]="element.a">
                    </mat-form-field>
                </mat-cell>
            </ng-container>  
            
            
            <ng-container matColumnDef="d">
                <mat-header-cell *matHeaderCellDef>d </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" [value]="element.d" [(ngModel)]="element.d">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="cancel()" label="Cancel"
            class="ui-button-secondary"></button>
        <button type="button" pButton  (click)="apply()" label="Save"></button>
    </p-footer>
</p-dialog>
