<p-dialog header="Expression table dialog" [(visible)]="service.display" [modal]="true" (onHide)="onHide()" [style]="{width: '800px', minWidth: '400px', maxHeight: '400px'}" [minY]="20" [maximizable]="false" [baseZIndex]="10000">
  <MessageDlg></MessageDlg>

  <button mat-raised-button (click)="addRow()">Add</button> &nbsp;

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- tableName Column -->
      <ng-container matColumnDef="tableName">
        <mat-header-cell *matHeaderCellDef> Table Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field floatLabel="never">
            <mat-select placeholder="choose table" [(ngModel)]="element.tableName" (selectionChange)="onTableNameChange(element)" name="element.tableName" disableOptionCentering>
              <mat-option *ngFor="let tableName of service.tableNames" [value]="tableName"> {{tableName}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Expression Column -->
      <ng-container matColumnDef="expression">
        <mat-header-cell *matHeaderCellDef> Expression </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Expression" [value]="element.expression" [(ngModel)]="element.expression" />
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <a (click)="edit(element)"><mat-icon aria-label="Edit">edit</mat-icon></a> |
          <a (click)="delete(element)"><mat-icon aria-label="Delete">delete</mat-icon></a>
        </td>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <ng-template pTemplate="footer">
    <mat-spinner diameter="16" mode="indeterminate" *ngIf="service.isOpening">Updating query...</mat-spinner>
    <button type="button" pButton icon="pi pi-close" (click)="cancel()" label="Cancel" class="p-button-secondary" [disabled]="service.isOpening"></button>
    <button type="button" pButton (click)="apply()" label="Save" [disabled]="service.isOpening"></button>
  </ng-template>
</p-dialog>
