<mat-tab-group>
    <mat-tab label="First fasdm, ">
        <div style="user-select: text; height:inherit; width:inherit; overflow:scroll;">
            <span>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
            </span>
        </div>
    </mat-tab>
    <mat-tab label="Second">
        <div style="user-select: text; height:inherit; width:inherit; overflow:scroll;">
            <span>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
            </span>
        </div>
    </mat-tab>
    <mat-tab label="Thirdasdfa"> Content 3 </mat-tab>
    <mat-tab label="Thirasdfd"> Content 3 </mat-tab>
    <mat-tab label="Thiasdfrd"> Content 3 </mat-tab>
    <mat-tab label="Tasdfhasdfird"> Content 3 </mat-tab>
    <mat-tab label="Tasdfhird"> Content 3 </mat-tab>
    <mat-tab label="Thsdfird"> Content 3 </mat-tab>
    <mat-tab label="Thsdfasdird"> Content 3 </mat-tab>
    <mat-tab label="Tfasdfhird"> Content 3 </mat-tab>
    <mat-tab label="Thasdfird"> Content 3 </mat-tab>
    <mat-tab label="Thasdfird"> Content 3 </mat-tab>
    <mat-tab label="Thasdfird"> Content 3 </mat-tab>
    <mat-tab label="Tsdfhird"> Content 3 </mat-tab>
    <mat-tab label="Thdfird"> Content 3 </mat-tab>
</mat-tab-group>

<!--<p-tabView>
    <p-tabPanel *ngFor="let tab of ['Test', 'Test2']" header="{{tab}}" [selected]="tab === 'Test'"> 
       <div style="user-select: text; height:inherit; width:inherit; overflow:scroll;">
            <span>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
            </span>
        </div>
    </p-tabPanel>
</p-tabView>-->