<mat-tab-group [@.disabled]="true" #outputTableGroup>
    <mat-tab *ngFor="let item of ps.outputTables" label="{{item.table}}">
        <ng-template mat-tab-label>
            <div (contextmenu)="onContextMenu($event, item)">{{item.table}}</div>
        </ng-template>
        <!--<div style="user-select: text; height:inherit; width:inherit;  overflow:scroll;
        white-space:pre; font-family:'Courier New', Courier, monospace; --max-lines:100;">
            {{getItemOutput(item)}}</div>-->
        <cdk-virtual-scroll-viewport itemSize="10" style="user-select: text; height:inherit; width:inherit;  overflow:scroll;
        white-space:pre; font-family:'Courier New', Courier, monospace; --max-lines:100;"
        (window:resize)="onResize($event)">
            <div *cdkVirtualFor="let item of item.output.data">{{item}}</div>
        </cdk-virtual-scroll-viewport>
    </mat-tab>

</mat-tab-group>
<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-name="item">
        <button mat-menu-item (click)="onContextMenuAction1()">Close</button>
    </ng-template>
</mat-menu>
<!--<p-tabView>
    <p-tabPanel *ngFor="let tab of ['Test', 'Test2']" header="{{tab}}" [selected]="tab === 'Test'"> 
       <div style="user-select: text; height:inherit; width:inherit; overflow:scroll;">
            <span>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
                sdfkljasøkl flasj følkajs dfølkja sdøflkj asølkdfj asølkjdf ølasjkd følkajs df<br>
            </span>
        </div>
    </p-tabPanel>
</p-tabView>-->