.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 400px;
  overflow: auto;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table,
.mat-mdc-table {
  overflow: auto;
  max-height: 750px;
}

.mat-header-cell {
  padding: 0.4375em 0.5em !important;
}

.mat-cell,
.mat-mdc-cell {
  padding: 0.4375em 0.5em !important;
}

.action-link {
  cursor: pointer;
}
