<p-listbox cdkDropList (cdkDropListDropped)="drop($event)" #listBox [options]="ps.processes" [(ngModel)]="ps.selectedProcess" optionLabel="processName" (keydown)="keydown($event)">
  <ng-template let-process pTemplate="item">
    <div (contextmenu)="openCm($event, cm, process)" cdkDrag>
      <span [ngClass]="{ 'rib fa': true, processicon: process.enabled, inactiveprocessicon: !process.enabled, 'fa-spin': process === ps.getRunningProcess() }">
        <span *ngIf="process.hasProcessData" [ngClass]="{ absa: true, interactiveicon: process.enabled, inactiveinteractiveicon: !process.enabled }"></span>
        <span *ngIf="process !== ps.getRunningProcess() && process.canShowInMap" [ngClass]="{ absa: true, mapicon: process.enabled, inactivemapicon: !process.enabled }"></span>
      </span>
      <span class="rib fa emptyicon">
        <span *ngIf="process === ps.getRunFailedProcess()" class="absa runstatusfailedicon"></span>
        <span *ngIf="process.enabled && !process.functionInputError && process.hasBeenRun && !ps.isProcessDirty(process)" class="absa runstatusokicon"></span>
        <span *ngIf="process.enabled && !process.functionInputError && process.hasBeenRun && ps.isProcessDirty(process)" class="absa runstatusmodifiedicon"></span>
        <span *ngIf="process.enabled && process.functionInputError" class="absa functioninputerroricon"></span>
      </span>
      <span style="display: inline-block; line-height: 1.1" [ngClass]="{ processUsed: isUsedBySelectedProcess(process.processID) }">{{ process.processName }}</span>
    </div>
  </ng-template>
</p-listbox>

<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
