<p-listbox #listBox [options]="ps.processes" [(ngModel)]="ps.selectedProcess" optionLabel="processName">
    <ng-template let-process pTemplate="item">
        <div (contextmenu)="openCm($event, cm, process.value)" pDraggable="process.value" 
        pDroppable="process.value" (onDragStart)="dragStart(process.value)" (onDrop)="drop(process.value)">
            <span class="rib fa processicon" [ngClass]="{'fa-spin': process.value===ps.getRunningProcess()}">
                <span *ngIf="process.value.hasProcessData" class="absa interactiveicon"></span>
                <span *ngIf="process.value != ps.getRunningProcess() && process.value.canShowInMap"
                    class="absa mapicon"></span>
            </span>
            <span class="rib fa emptyicon">
                <span *ngIf="process.value.hasError" class="absa processmodelerroricon"></span>
                <span *ngIf="process.value===ps.getRunFailedProcess()" class="absa runstatusfailedicon"></span>
                <span *ngIf="ps.isRun(process.value)" class="absa runstatusokicon"></span>
            </span>
            <span style="display:inline-block; line-height:1.1;">{{process.value.processName}}</span>
        </div>
    </ng-template>
</p-listbox>
<p-contextMenu #cm [model]="contextMenu"></p-contextMenu>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>