<mat-tab-group [selectedIndex]="0">
  <mat-tab *ngFor="let tab of ['Projects']" label="{{ tab }}">
    <p-listbox [options]="ps.projects" [(ngModel)]="ps.selectedProject" optionLabel="projectName">
      <ng-template let-project pTemplate="item">
        <div (contextmenu)="openCm($event, cm, project)" pTooltip="{{ project.projectPath }}" tooltipPosition="right">
          <span style="display: inline-block; line-height: 1.1" [ngClass]="{  
            allProjects: project.projectName
          }">{{ project.projectName }}</span>
        </div>
      </ng-template>
    </p-listbox>
  </mat-tab>
</mat-tab-group>
