@import 'assets/hi-theme-primeng/hi-primeng.scss';
@import 'material-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import './styles/variables.scss';
@import './styles/icons.scss';
@import './styles/material.scss';
@import './styles/primeng.scss';

html {
  font-size: 14px;
}

.title {
  margin-top: 1rem;
  font-weight: bold;
}

.rib {
  position: relative;
  display: inline-block;
  font-size: 1rem !important;
  text-align: center;
  width: 1rem;
}

#toolbar {
  .mat-button-toggle-label-content {
    height: 15px;
    line-height: 1rem;
  }
}

.ritc {
  position: relative;
  display: table-cell !important;
}

.toolbar-button {
  width: 1rem;
  font-size: 1rem !important;
}

.absa:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // needle pinned at the center of the overlay symbol
}

.blink {
  animation: blink 500ms infinite steps(1);
}

.bg-primary {
  background-color: #9cc6f0 !important;
}

.navbar {
  border-bottom: #9cc6f0 !important;
}

/* Angular Split */

.as-split-area {
  overflow-y: hidden !important;
}

.as-split-gutter-icon {
  background-color: #e9f3fc !important;
  border: 1px solid lighten(#e9f3fc, 4%);
  box-shadow: 1px 1px darken(#e9f3fc, 10%);
}

/* Angular Material will convert this if this is present in component scss files */
.mat-mdc-tab-body-wrapper {
  height: 100%;
}
.mat-mdc-tab-body-content {
  height: 100%;
  overflow: hidden !important;
}

.processItems .p-listbox-item {
  padding-top: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
