#mapcontainer {
  //border:solid; border-width:1px;
  width: 100%;
  height: 100%;
}

#map {
  //border:solid; border-width:1px;
  width: 100%;
  height: calc(100% - (12px + 1.5rem));
  background: white;
  //cursor: crosshair;
  //background: #adcff1;
}
.stratum-edit {
  cursor: crosshair;
}

.stratum {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAAAXNSR0IB2cksfwAAAAlQTFRFDw8PAABn9vb2cjKVngAAAAN0Uk5T/wD/aewfvgAAAFhJREFUeJw9zLEJwDAQA0Cl+BE0gDvjKZw2VQj2SB7EncmU+bcgag6EENgjMJFEFoViiCmWeCmGmGI1UBy+ROOJknuQLwbJgcGeEXTHSx803vCLn7rxl419Mg4osi3k2GYAAAAASUVORK5CYII="), auto;
}

.acousticPSU {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAAAXNSR0IB2cksfwAAAAlQTFRFDw8PAABn9vb2cjKVngAAAAN0Uk5T/wD/aewfvgAAAFhJREFUeJw9zLEJwDAQA0Cl+BE0gDvjKZw2VQj2SB7EncmU+bcgag6EENgjMJFEFoViiCmWeCmGmGI1UBy+ROOJknuQLwbJgcGeEXTHSx803vCLn7rxl419Mg4osi3k2GYAAAAASUVORK5CYII="), auto;
}

.sweptAreaPSU {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAAAXNSR0IB2cksfwAAAAlQTFRFDw8PAABn9vb2cjKVngAAAAN0Uk5T/wD/aewfvgAAAFhJREFUeJw9zLEJwDAQA0Cl+BE0gDvjKZw2VQj2SB7EncmU+bcgag6EENgjMJFEFoViiCmWeCmGmGI1UBy+ROOJknuQLwbJgcGeEXTHSx803vCLn7rxl419Mg4osi3k2GYAAAAASUVORK5CYII="), auto;
}

.assignment {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAAAXNSR0IB2cksfwAAAAlQTFRFDw8PAABn9vb2cjKVngAAAAN0Uk5T/wD/aewfvgAAAFhJREFUeJw9zLEJwDAQA0Cl+BE0gDvjKZw2VQj2SB7EncmU+bcgag6EENgjMJFEFoViiCmWeCmGmGI1UBy+ROOJknuQLwbJgcGeEXTHSx803vCLn7rxl419Mg4osi3k2GYAAAAASUVORK5CYII="), auto;
}

.station {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAAAXNSR0IB2cksfwAAAAlQTFRFDw8PAABn9vb2cjKVngAAAAN0Uk5T/wD/aewfvgAAAFhJREFUeJw9zLEJwDAQA0Cl+BE0gDvjKZw2VQj2SB7EncmU+bcgag6EENgjMJFEFoViiCmWeCmGmGI1UBy+ROOJknuQLwbJgcGeEXTHSx803vCLn7rxl419Mg4osi3k2GYAAAAASUVORK5CYII="), auto;
}

.edsu {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAAAXNSR0IB2cksfwAAAAlQTFRFDw8PAABn9vb2cjKVngAAAAN0Uk5T/wD/aewfvgAAAFhJREFUeJw9zLEJwDAQA0Cl+BE0gDvjKZw2VQj2SB7EncmU+bcgag6EENgjMJFEFoViiCmWeCmGmGI1UBy+ROOJknuQLwbJgcGeEXTHSx803vCLn7rxl419Mg4osi3k2GYAAAAASUVORK5CYII="), auto;
}

#mapstatus {
  //border:solid; border-width:1px;
  width: 100%;
  height: 12px;
  font-size: 0.5rem;
}

#toolbar {
  //border:solid; border-width:1px;
  width: 100%;
  height: 1.5rem;
  font-size: 0.5rem;
  line-height: 1rem;

}

.maptooltip {
  position: absolute;

  z-index: 1000000; 
  color: black;
  background-color: rgb(255,255,225);
  border:solid; 
  border-width:1px;
  white-space: nowrap;
  font-size: 0.8rem;
  padding: 0.1rem;
}
.disableButton {
  opacity: 0.35;
  background: #eee;
  color: #444;
}
