<div id="mapcontainer"[ngClass]="tool">
	<mat-toolbar id="toolbar">
		<mat-button-toggle-group [(ngModel)]="tool">
			<ng-container *ngFor="let t of tools">
				<mat-button-toggle value="{{t.tool}}" [ngClass]="{disabled: !getToolEnabled(t.tool)}">
					<span class="rib absa {{t.iclass}} toolbar-button"></span>
				</mat-button-toggle>
			</ng-container>
		</mat-button-toggle-group>
	</mat-toolbar>
	<div id="map" (resized)="onResized($event)">
		<div id="info"></div>
	</div>
	<div id="mapstatus">
		<div id="mouse-position"></div>
	</div>
</div>