/* Purchase the Designer API to get full access to the theme engine. */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  .p-component,
  .p-component .p-component {
    font-family: $fontFamily;
    text-decoration: none;
  }

  .p-corner-all {
    @include border-radius($borderRadius);
  }

  .p-corner-top {
    @include border-radius-top($borderRadius);
  }

  .p-corner-bottom {
    @include border-radius-bottom($borderRadius);
  }

  .p-corner-left {
    @include border-radius-left($borderRadius);
  }

  .p-corner-right {
    @include border-radius-right($borderRadius);
  }

  a {
    color: $linkColor;
    text-decoration: none;

    &:hover {
      color: $linkHoverColor;
    }

    &:active {
      color: $linkActiveColor;
    }
  }

  .p-reset {
    line-height: normal;
  }

  .p-disabled,
  .p-component:disabled {
    @include opacity($disabledOpacity);
  }
}
