/* Purchase the Designer API to get full access to the theme engine. */

body .p-toast .p-toast-message.p-toast-message {
  background-color: #ccc;
}
body .p-toast .p-toast-message .p-toast-close-icon {
  color: #000;
}
body .p-toast .p-toast-message.p-toast-message-info {
  background-color: change-color($cyan, $lightness: 70%, $saturation: 80%);
}
body .p-toast .p-toast-message.p-toast-message-success {
  background-color: change-color($green, $lightness: 70%, $saturation: 80%);
}
body .p-toast .p-toast-message.p-toast-message-warn {
  background-color: change-color($yellow, $lightness: 70%, $saturation: 80%);
}
body .p-toast .p-toast-message.p-toast-message-error {
  background-color: change-color($red, $lightness: 70%, $saturation: 80%);
}
