<div style="height: 100%; width: 100%; overflow: auto !important">
  <p-accordion [multiple]="true" expandIcon="pi pi-fw pi-caret-right" collapseIcon="pi pi-fw pi-caret-down">
    <MessageDlg></MessageDlg>
    <p-accordionTab *ngFor="let category of ps.processProperties.propertySheet" header="{{ category.displayName }}" [selected]="true">
      <p-table [columns]="cols" [value]="category.properties" [scrollable]="true" [resizableColumns]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pResizableColumn style="height: 2px"></th>
            <th pResizableColumn style="height: 2px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-propertyItem>
          <tr>
            <td>
              <div class="ellipsiscolumn">
                {{ propertyItem.displayName }}
              </div>
            </td>
            <td [ngSwitch]="propertyItem.type">
              <!-- character -->
              <div *ngSwitchCase="'character'">
                <!-- If possible values are given but not vector, do autocomlpetion -->
                <div *ngIf="propertyItem.possibleValues.length > 0 && propertyItem.formatClass !== 'vector'">
                  <app-autocomplete class="ellipsiscolumn" [items]="propertyItem.possibleValues" [selectedItem]="propertyItem.value" (complete)="propertyItem.value = $event.selectedItem; onChanged(category, propertyItem)"> </app-autocomplete>
                  <!--
                    <select
                    (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)"
                    style="width:100%;">
                    <option *ngFor="let verdi of propertyItem.possibleValues" value="{{verdi}}"
                        [selected]="verdi === propertyItem.value">{{verdi}}</option>
                    </select>
                  -->
                </div>

                <div *ngIf="propertyItem.possibleValues.length === 0 || propertyItem.formatClass === 'vector'">
                  <ng-container [ngSwitch]="true">
                    <ng-container *ngSwitchCase="propertyItem.format === 'filterExpressionList'">
                      <input class="input-with-button" type="text" pInputText [(ngModel)]="propertyItem.value" [disabled]="isDisabled()" (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)" />
                      <button class="button-width" type="button" pButton icon="pi pi-ellipsis-h" [disabled]="isDisabled()" (click)="filter(category, propertyItem)"></button>
                    </ng-container>
                    <!--
                    <ng-container *ngSwitchCase="propertyItem.format === '  ' || propertyItem.format.endsWith('Table') || propertyItem.format.endsWith('table')">    
                        <input style="width:calc(100% - 22px);" type="text" pInputText                                       
                            [(ngModel)]="propertyItem.value" (change)="propertyItem.value = $event.target.value; onChanged(category,  propertyItem)" />
                        <button style="width:22px;" type="button" pButton icon="pi pi-ellipsis-h"
                            (click)="definedColumns(category, propertyItem)"></button>
                    </ng-container>
                    -->
                    <ng-container *ngSwitchCase="propertyItem.format === 'filePath' || propertyItem.format === 'filePaths' || propertyItem.format === 'directoryPath'">
                      <input class="input-with-button" type="text" pInputText [disabled]="isDisabled()" [(ngModel)]="propertyItem.value" (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)" />
                      <button class="button-width" type="button" pButton icon="pi pi-ellipsis-h" [disabled]="isDisabled()" (click)="filePath(category, propertyItem)"></button>
                    </ng-container>
                    <ng-container *ngSwitchCase="propertyItem.formatClass === 'table'">
                      <input class="input-with-button" type="text" pInputText [disabled]="isDisabled()" [(ngModel)]="propertyItem.value" (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)" />
                      <button class="button-width" type="button" pButton icon="pi pi-ellipsis-h" [disabled]="isDisabled()" (click)="definedColumns(category, propertyItem)"></button>
                    </ng-container>
                    <ng-container *ngSwitchCase="propertyItem.formatClass === 'vector'">
                      <input class="input-with-button" type="text" pInputText [disabled]="isDisabled()" [(ngModel)]="propertyItem.value" (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)" />
                      <button class="button-width" type="button" pButton icon="pi pi-ellipsis-h" [disabled]="isDisabled()" (click)="definedVector(category, propertyItem)"></button>
                    </ng-container>
                    <ng-container *ngSwitchCase="propertyItem.formatClass === 'single'">
                      <input [ngClass]="propertyItem.format !== 'none' ? 'input-with-button' : 'input-full-width'" type="text" pInputText [disabled]="isDisabled()" [(ngModel)]="propertyItem.value" (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)" />
                      <button *ngIf="propertyItem.format !== 'none'" class="button-width" type="button" pButton icon="pi pi-ellipsis-h" [disabled]="isDisabled()" (click)="definedSingle(category, propertyItem)"></button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <input matInput type="text" value="{{ propertyItem.value }}" spellcheck="false" [disabled]="isDisabled()" (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)" class="ellipsiscolumn" />
                    </ng-container>
                  </ng-container>
                </div>
              </div>

              <!-- logical -->
              <div *ngSwitchCase="'logical'">
                <input type="checkbox" [checked]="propertyItem.value === 'true' ? true : false" [disabled]="isDisabled()" (change)="propertyItem.value = $event.target.checked ? 'true' : 'false'; onChanged(category, propertyItem)" style="vertical-align: middle !important" />
              </div>

              <!-- double -->
              <div *ngSwitchCase="'double'">
                <div *ngIf="propertyItem.possibleValues.length > 0">
                  <app-autocomplete class="ellipsiscolumn" [items]="propertyItem.possibleValues" [selectedItem]="propertyItem.value" (complete)="propertyItem.value = $event.selectedItem; onChanged(category, propertyItem)"> </app-autocomplete>
                </div>

                <div *ngIf="propertyItem.possibleValues.length === 0">
                  <ng-container [ngSwitch]="true">
                    <ng-container *ngSwitchCase="propertyItem.formatClass === 'vector'">
                      <input class="input-with-button" type="text" pInputText [disabled]="isDisabled()" [(ngModel)]="propertyItem.value" (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)" />
                      <button class="button-width" type="button" pButton icon="pi pi-ellipsis-h" [disabled]="isDisabled()" (click)="definedVector(category, propertyItem)"></button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <input matInput type="text" value="{{ propertyItem.value }}" spellcheck="false" [disabled]="isDisabled()" (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)" class="ellipsiscolumn" />
                    </ng-container>
                  </ng-container>
                </div>
              </div>

              <!-- numeric -->
              <div *ngSwitchCase="'numeric'">
                <div *ngIf="propertyItem.possibleValues.length > 0">
                  <app-autocomplete class="ellipsiscolumn" [items]="propertyItem.possibleValues" [selectedItem]="propertyItem.value" (complete)="propertyItem.value = $event.selectedItem; onChanged(category, propertyItem)"> </app-autocomplete>
                </div>

                <div *ngIf="propertyItem.possibleValues.length === 0">
                  <ng-container [ngSwitch]="true">
                    <ng-container *ngSwitchCase="propertyItem.formatClass === 'vector'">
                      <input class="input-with-button" type="text" pInputText [disabled]="isDisabled()" [(ngModel)]="propertyItem.value" (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)" />
                      <button class="button-width" type="button" pButton icon="pi pi-ellipsis-h" [disabled]="isDisabled()" (click)="definedVector(category, propertyItem)"></button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <input matInput type="text" value="{{ propertyItem.value }}" spellcheck="false" [disabled]="isDisabled()" (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)" class="ellipsiscolumn" />
                    </ng-container>
                  </ng-container>
                </div>
              </div>

              <!-- integer -->
              <div *ngSwitchCase="'integer'">
                <input type="text" value="{{ propertyItem.value }}" [disabled]="isDisabled()" (change)="propertyItem.value = $event.target.value; onChanged(category, propertyItem)" style="width: 100%" />
              </div>
              <div *ngSwitchDefault>{{ propertyItem.value }}</div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
  </p-accordion>
</div>
