p-table {
  width: 100%;
}

td {
  padding: 0px !important;
}

tr:nth-child(even) {
  background-color: inherit !important;
}

.input-full-width {
  width: 100%;
}

.input-with-button {
  width: calc(100% - 22px);
}

.button-width {
  width: 22px;
}