<!--<ag-grid-angular 
    style="width: 500px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>
-->
<p-accordion multiple="true" expandIcon="pi pi-fw pi-caret-down" collapseIcon="pi pi-fw pi-caret-right">
    <p-accordionTab *ngFor="let row of rowData" header="{{row.category}}" selected="true">

        <!--<div *ngFor="let col of cols"> {{rowData2[col.field]}}
            </div>-->
        <p-table [columns]="cols" [value]="row.parameters" [scrollable]="true" [resizableColumns]="true">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [style.width]="col.width">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="body" let-parameter>
                <tr>
                    <td pResizableColumn>
                        <div>
                            {{parameter.name}}
                        </div>
                    </td>
                    <td pResizableColumn [ngSwitch]="parameter.type"> 
                        <div *ngSwitchCase="'string'">{{parameter.value}}</div>
                        <div *ngSwitchCase="'boolean'">
                             {{parameter.value}}  
                            <!--<select [(ngModel)]="parameter['value']"
                                style="width:100% !important; border:none !important;">
                                <option *ngFor="let bool of getMetParameterValueList()" [ngValue]="bool.name">
                                    {{bool.name}}</option>
                            </select>-->
                            <input type="checkbox"  [checked]="parameter.value == 'true' ? true : false"  
                            (change)="parameter.value = $event.target.checked ? 'true' : 'false'; onChanged(parameter)" 
                            style="vertical-align: middle !important;"/>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-accordionTab>
</p-accordion>