p-table {
    width: 100%;
}
td {
    //font-size: 0.8em ;
    padding: 0px !important;
}
/*
.mat-input-element {
    width: 100% !important;
    text-overflow: ellipsis;
    overflow: hidden;
  }*/
tr:nth-child(even) {
    background-color: inherit !important;
}
